In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
file1 = 'age-specific-fertility-rates.csv'
df_fert = pd.read_csv(file1)
df_fert = df_fert.rename(columns={'country_name':'Country','year':'Year'})

In [9]:
df_fert = df_fert.loc[(df_fert['Year'] == 2015) | (df_fert['Year'] == 2016) | (df_fert['Year'] == 2017)]
df_fert.head()

,country_code,Country,Year,fertility_rate_15_19,fertility_rate_20_24,fertility_rate_25_29,fertility_rate_30_34,fertility_rate_35_39,fertility_rate_40_44,fertility_rate_45_49,total_fertility_rate,gross_reproduction_rate,sex_ratio_at_birth
53,SI,Slovenia,2015,4.6,41.8,109.1,105.3,43.4,8.4,0.3,1.5596,0.7583,1.0567
54,SI,Slovenia,2016,4.2,40.3,109.8,106.8,44.8,9.1,0.5,1.5726,0.7713,1.0388
55,SI,Slovenia,2017,4.3,41.0,110.2,106.5,44.4,9.1,0.6,1.5764,0.7732,1.0389
104,TB,Saint Barthelemy,2017,14.6,67.3,110.1,85.2,35.6,12.2,1.9,1.6342,0.8049,1.0303
130,TB,Saint Barthelemy,2015,14.7,67.4,109.9,85.0,35.6,12.2,1.8,1.6326,0.7923,1.0606

In [10]:
file2015 = 'world-happiness-report/2015.csv'
file2016 = 'world-happiness-report/2016.csv'
file2017 = 'world-happiness-report/2017.csv'
df2015 = pd.read_csv(file2015)
df2016 = pd.read_csv(file2016)
df2017 = pd.read_csv(file2017)

In [11]:
df2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [6]:
df2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [7]:
df2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [8]:
df_fert['Country'].unique()

array(['Slovenia', 'Saint Barthelemy', 'Nauru', 'Curacao', 'Korea, South',
       'Monaco', 'Tuvalu', 'Western Sahara', 'Armenia',
       'Wallis and Futuna', 'New Zealand', 'Iceland', 'Saint Martin',
       'Egypt', 'Liechtenstein', 'Sweden', 'Norway', 'Singapore',
       'Slovakia', 'Saint Helena, Ascension, and Tristan da Cunha',
       'United States', 'Anguilla', 'Kazakhstan', 'Cook Islands',
       'Grenada', 'Micronesia, Federated States of', 'China',
       'Antigua and Barbuda', 'Cayman Islands', 'Gibraltar',
       'Saint Kitts and Nevis', 'Brunei', 'Estonia', 'Kosovo', 'Malta',
       'Canada', 'Macedonia', 'Korea, North', 'Albania', 'Montserrat',
       'Panama', 'Samoa', 'Montenegro', 'Trinidad and Tobago', 'Algeria',
       'Denmark', 'Isle of Man', 'Hong Kong', 'Sint Maarten', 'Bermuda',
       'Qatar', 'Andorra', 'Saint Vincent and the Grenadines',
       'Greenland', 'Virgin Islands, British', 'Malaysia', 'Bahamas, The',
       'Portugal', 'India', 'Belgium', 'Austria', 'Seychelles', 'France',
       'Bahrain', 'Uruguay', 'Vietnam', 'Luxembourg', 'Kiribati',
       'Bulgaria', 'Maldives', 'United Kingdom', 'Dominica', 'Kuwait',
       'Virgin Islands, U.S.', 'Taiwan', 'Guernsey', 'Puerto Rico',
       'Finland', 'Palau', 'Guam', 'Croatia', 'Thailand',
       'United Arab Emirates', 'Barbados', 'San Marino', 'Tonga',
       'Georgia', 'Saint Lucia', 'Chile', 'Poland', 'Jersey',
       'Marshall Islands', 'Kyrgyzstan', 'Faroe Islands', 'Netherlands',
       'Australia', 'Bosnia and Herzegovina', 'Japan', 'American Samoa',
       'Aruba', 'Germany', 'Azerbaijan', 'Saint Pierre and Miquelon',
       'Northern Mariana Islands', 'Turks and Caicos Islands',
       'Equatorial Guinea', 'Gambia, The', 'Cabo Verde', 'Djibouti',
       'Spain', 'Serbia', 'Mozambique', 'Malawi', 'Latvia', 'Cyprus',
       'French Polynesia', 'New Caledonia', 'Solomon Islands', 'Peru',
       'Kenya', 'South Africa', 'Bhutan', 'Guyana', 'Vanuatu', 'Czechia',
       'Timor-Leste', 'Argentina', 'Mauritania', 'Liberia', 'Ethiopia',
       'Zambia', 'Eritrea', 'Somalia', 'Eswatini', 'Zimbabwe',
       'Central African Republic', 'Guinea-Bissau', "Cote d'Ivoire",
       'Lesotho', 'Togo', 'Sierra Leone', 'Angola', 'Burkina Faso',
       'Congo (Kinshasa)', 'Rwanda', 'Senegal', 'Congo (Brazzaville)',
       'Cameroon', 'Niger', 'Sao Tome and Principe', 'Tanzania', 'Ghana',
       'Namibia', 'Mali', 'Madagascar', 'Gabon', 'Comoros', 'Guinea',
       'Uganda', 'Botswana', 'Burundi', 'Switzerland', 'Italy', 'Haiti',
       'Ukraine', 'Moldova', 'Greece', 'Tunisia', 'Dominican Republic',
       'Sri Lanka', 'Laos', 'Bangladesh', 'Chad', 'Macau', 'Hungary',
       'Lithuania', 'Ireland', 'Cambodia', 'Mongolia', 'Venezuela',
       'Mexico', 'Indonesia', 'Afghanistan', 'Fiji', 'Saudi Arabia',
       'Pakistan', 'Iraq', 'Jamaica', 'Brazil', 'Iran', 'Mauritius',
       'Lebanon', 'Costa Rica', 'Papua New Guinea', 'El Salvador',
       'Philippines', 'Belize', 'Oman', 'Tajikistan', 'Turkmenistan',
       'Benin', 'Nicaragua', 'Libya', 'Suriname', 'South Sudan', 'Sudan',
       'Morocco', 'Turkey', 'Bolivia', 'Yemen', 'Israel', 'Honduras',
       'Paraguay', 'Ecuador', 'Guatemala', 'Russia', 'Gaza Strip',
       'Uzbekistan', 'Nepal', 'Belarus', 'Romania', 'Nigeria', 'Syria',
       'Colombia', 'Jordan', 'Cuba', 'Burma', 'West Bank'], dtype=object)

In [9]:
df2015['Year'] = 2015
df2016['Year'] = 2016
df2017['Year'] = 2017

In [10]:
df2017 = df2017.rename(columns={'Happiness.Rank':'Happiness Rank','Happiness.Score':'Happiness Score','Economy..GDP.per.Capita.':'Economy (GDP per Capita)','Health..Life.Expectancy.':'Health (Life Expectancy)','Trust..Government.Corruption.':'Trust (Government Corruption)'})

In [13]:
df2017.head()
#df2016.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [12]:
df2017 = df2017.drop(columns=['Whisker.high','Whisker.low','Dystopia.Residual'])

In [13]:
df2016 = df2016.drop(columns=['Dystopia Residual','Lower Confidence Interval','Upper Confidence Interval','Region'])

In [14]:
df2015 = df2015.drop(columns=['Standard Error','Dystopia Residual','Region'])

In [15]:
df_happ = df2015.append(df2016,sort=True).append(df2017,sort=True)

In [16]:
df_happ.head()

,Country,Economy (GDP per Capita),Family,Freedom,Generosity,Happiness Rank,Happiness Score,Health (Life Expectancy),Trust (Government Corruption),Year
0,Switzerland,1.39651,1.34951,0.66557,0.29678,1,7.587,0.94143,0.41978,2015
1,Iceland,1.30232,1.40223,0.62877,0.43630,2,7.561,0.94784,0.14145,2015
2,Denmark,1.32548,1.36058,0.64938,0.34139,3,7.527,0.87464,0.48357,2015
3,Norway,1.45900,1.33095,0.66973,0.34699,4,7.522,0.88521,0.36503,2015
4,Canada,1.32629,1.32261,0.63297,0.45811,5,7.427,0.90563,0.32957,2015

In [17]:
df_fert.head()

,country_code,Country,Year,fertility_rate_15_19,fertility_rate_20_24,fertility_rate_25_29,fertility_rate_30_34,fertility_rate_35_39,fertility_rate_40_44,fertility_rate_45_49,total_fertility_rate,gross_reproduction_rate,sex_ratio_at_birth
53,SI,Slovenia,2015,4.6,41.8,109.1,105.3,43.4,8.4,0.3,1.5596,0.7583,1.0567
54,SI,Slovenia,2016,4.2,40.3,109.8,106.8,44.8,9.1,0.5,1.5726,0.7713,1.0388
55,SI,Slovenia,2017,4.3,41.0,110.2,106.5,44.4,9.1,0.6,1.5764,0.7732,1.0389
104,TB,Saint Barthelemy,2017,14.6,67.3,110.1,85.2,35.6,12.2,1.9,1.6342,0.8049,1.0303
130,TB,Saint Barthelemy,2015,14.7,67.4,109.9,85.0,35.6,12.2,1.8,1.6326,0.7923,1.0606

In [40]:
df = pd.merge(df_happ,df_fert,how='outer',on=['Year','Country']).dropna()

In [41]:
df.count()

Country                          447
Economy (GDP per Capita)         447
Family                           447
Freedom                          447
Generosity                       447
Happiness Rank                   447
Happiness Score                  447
Health (Life Expectancy)         447
Trust (Government Corruption)    447
Year                             447
country_code                     447
fertility_rate_15_19             447
fertility_rate_20_24             447
fertility_rate_25_29             447
fertility_rate_30_34             447
fertility_rate_35_39             447
fertility_rate_40_44             447
fertility_rate_45_49             447
total_fertility_rate             447
gross_reproduction_rate          447
sex_ratio_at_birth               447
dtype: int64

In [42]:
df.dropna(subset=['country_code'], inplace=True)

In [43]:
df['fertility_rate_avg']= df[['fertility_rate_15_19','fertility_rate_20_24','fertility_rate_30_34','fertility_rate_35_39','fertility_rate_40_44','fertility_rate_45_49']].mean(axis=1)

In [44]:
df = df.drop(columns=['Economy (GDP per Capita)','Health (Life Expectancy)','Trust (Government Corruption)'])

In [45]:
engine = create_engine('postgresql://etl:etl@localhost:5432/ETL')
#postgresql+psycopg2://user:password@host:port/dbname
df.to_sql('ETL_Table', engine)

ValueError: Table 'ETL_Table' already exists.